.select-option {
  select {
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    border: none;
    margin: 1rem auto;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    color: #4f4f4f;
    text-transform: capitalize;
  }
}
