.text-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content {
    .sub-heading {
      font-weight: 400;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }

    .heading {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    .date {
      font-weight: 300;
      font-size: 0.75rem;
      margin-bottom: 1rem;
    }

    .description {
      font-weight: 300;
      font-size: 0.92rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    .first-btn {
      margin-right: 1rem;
      .btn {
        background-color: #202020;
        color: #fff;
      }
    }

    .second-btn {
      .btn {
        background-color: #fff;
        color: #202020;
        border: 1px solid #202020;
      }
    }
  }
}
