.round-badge {
  font-size: 0.9rem;
  height: 3.1rem;
  width: 3.1rem;
  min-height: 3rem;
  background-color: #e86464;
  border-radius: 50%;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
}
