.ambassador {
  color: #202020;

  .inner-container {
    display: grid;
    grid-template-columns: 25% 75%;

    .left {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      border-right: 1px solid rgb(236, 236, 236);

      .left-title {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          margin-right: 1rem;
        }
      }

      .list {
        padding-left: 2rem;

        li {
          margin-top: 1rem;

          a {
            color: gray;
          }
        }
      }
    }

    .right {
      font-weight: 300;
      border-left: 1px solid rgb(236, 236, 236);
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 4rem;

      .para-title {
        margin-bottom: 1rem;
        font-weight: 400;
      }

      .details {
        margin-bottom: 2rem;
        letter-spacing: 1px;
      }

      .form {
        width: 100%;
        padding-top: 1rem;

        .common {
          width: 100%;
          margin-bottom: 1rem;

          input,
          textarea {
            width: 100%;
            border: 1px solid rgb(230, 230, 230);
            height: 2.5rem;
            padding: 1rem;
            font-size: 0.9rem;

            &::-webkit-scrollbar {
              display: none;
            }

            &:focus {
              border: 1px solid #202020;
            }
          }

          textarea {
            height: 3rem;
          }

          label {
            margin-bottom: 0.5rem;
            display: inline-block;
            font-size: 0.9rem;
          }
        }

        .form-submit-btn {
          text-align: right;

          .submit-btn {
            display: inline-block;
            padding: 0.7rem 3rem;
            background-color: #202020;
            border: none;
            border-radius: 0.2rem;
            color: #fff;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}