.hunger-project {
  .text-group {
    padding-top: 4rem;
  }

  .full-width-card-container {
    padding: 10rem;
  }

  .quote {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0rem 1rem;
    margin-bottom: 4rem;

    .light-text {
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}
