.jumbo-slider {
  .slider-title {
    font-size: 1.8rem;
    margin-left: 2rem;
    font-weight: 400;
    color: #202020;
    margin: 4rem 2rem 2rem 2rem;
  }
  .slick-slider {
    .item {
      cursor: pointer;
    }

    .slick-prev {
      top: 2%;
      left: 92%;
      z-index: 1;
      background-color: rgb(179, 179, 179);
      border-radius: 50%;
    }

    .slick-next {
      top: 2%;
      right: 3%;
      z-index: 1;
      border-radius: 50%;
      background-color: rgb(179, 179, 179);
    }
  }

  .content {
    .description {
      p {
        span {
          display: inline-block;
          background-color: none !important;
        }
      }
    }
  }
}
