@media only screen and (max-width: 890px) {
    .App {
        .login {
            .inner-container {
                .login-container {
                    width: 50vw;
                }
            }
        }
    }

}

@media only screen and (max-width: 700px) {
    .App {
        .login {
            .inner-container {
                .login-container {
                    width: 60vw;
                }
            }
        }
    }

}

@media only screen and (max-width: 590px) {
    .App {
        .login {
            .inner-container {
                .login-container {
                    width: 70vw;
                }
            }
        }
    }

}


@media only screen and (max-width: 460px) {
    .App {
        .login {
            .inner-container {
                .login-container {
                    width: 80vw;

                    .form {
                        width: 85%;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 400px) {
    .App {
        .login {
            .inner-container {
                .login-container {
                    width: 85vw;
                }
            }
        }
    }

}