@media only screen and (max-width: 400px) {
    .product {
        .container {
            .package-customization {
                min-width: auto;

                .inner-container {
                    .customization-bottom {
                        z-index: 20;
                        flex-direction: column;

                        .cancel-btn {
                            margin-bottom: 0.5rem;
                            margin-right: 0;
                        }

                        .add-to-basket-btn {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 530px) {
    .app-layout {
        .product {
            .container {
                .package-customization {
                    .inner-container {
                        .top-area {
                            .products {
                                grid-template-columns: 1fr !important;
                                margin-bottom: 2rem;

                                .custom-product-card {
                                    .product-img {
                                        height: 300px;
                                    }
                                }
                            }
                        }
                    }

                    .selected-customisation {
                        .slected-area-top {
                            .products {
                                grid-template-columns: 1fr 1fr !important;
                            }
                        }

                        .selected-area-bottom {
                            .product-name {
                                margin-bottom: 1rem;
                            }

                            flex-direction: column;

                            .btn {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .product {
        .container {
            .package-customization {
                .selected-customisation {
                    .slected-area-top {
                        .products {
                            grid-template-columns: 1fr 1fr 1fr !important;
                        }
                    }
                }

            }
        }
    }
}



@media only screen and (max-width: 930px) {
    .product {
        .container {
            .package-customization {
                width: 100%;
                z-index: 99999999;

                .inner-container {
                    .top-area {
                        .products {
                            grid-template-columns: 1fr 1fr !important;
                            margin-bottom: 2rem;
                        }
                    }
                }

                .selected-customisation {
                    .slected-area-top {
                        .products {
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    .product {
        .container {
            .package-customization {
                width: 100%;
                z-index: 99999999;

                .top-area {
                    .products {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }

                .selected-customisation {
                    .products {
                        grid-template-columns: 1fr 1fr 1fr;

                    }
                }
            }
        }
    }
}