.category-page {
  margin-bottom: 3rem;

  .videobg-container {
    position: relative;
    height: 73vh;

    .content {
      top: 50%;
      left: 1.3rem;
      transform: translateY(-50%);
      bottom: 40%;

      .heading {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .heading-description {
        width: 70%;
      }
    }
  }

  .category-products {
    margin-top: 1.5rem;
    border-bottom: 1px solid #ececec;

    .row {
      .title {
        display: none;
      }
      .items {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
      }
    }
    .product-wrapper {
      margin-bottom: 4rem;
      position: relative;

      .product-link {
        max-width: 100%;
        width: 100%;
        position: relative;
      }
      .cart-icon {
        width: 35px;
        height: 35px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #fff;
        position: absolute;
        bottom: 90px;
        right: 20px;
        font-size: 26px;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        cursor: pointer;
      }
      .color-pallets {
        // width: 40px;

        height: 35px;
        padding: 7px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background: #fff;
        position: absolute;
        bottom: 90px;
        left: 20px;
        font-size: 16px;

        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        cursor: pointer;
        .color {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          margin: 0px 5px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        }
        .plus {
          margin-top: 3px;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }

  .text-content {
    max-width: 1360px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0;

    .title {
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    .description-text {
      font-size: 0.9rem;
      color: #202020;
    }
  }
}

.loading {
  height: 100vh;
}