.images-slider {
  margin-top: 1rem;
  .color-name {
    font: 400;
    text-transform: uppercase;
    color: #202020;
  }

  .slick-slider {
    .item {
      cursor: pointer;

      img {
        object-fit: contain;
      }
    }

    .slick-prev {
      top: 1%;
      left: 82%;
      z-index: 1;
      background-color: rgb(179, 179, 179);
      border-radius: 50%;
    }

    .slick-next {
      top: 1%;
      right: 3%;
      z-index: 1;
      border-radius: 50%;
      background-color: rgb(179, 179, 179);
    }
  }
}
