.image-background {
  height: 80vh;

  .bg-img {
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    align-items: flex-end;
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

    .text-content {
      position: absolute;
      text-align: left;
      margin-left: 2rem;
      top: 50%;
      // transform: translateX(-50%);

      .title {
        font-size: 3rem;
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
        white-space: nowrap;
      }

      p {
        color: #fff;
      }
    }
  }
}
