.navbar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 9000;

  &.active {
    background: #ffffff;

    .link,
    .link a,
    .icon-svg {
      color: #202020 !important;
    }

    .nav-items {
      background-color: #ffffff !important;
    }
  }

  .top-bar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: rgb(255, 255, 255);
    height: 60px;
    transition: height 0.2s ease 0s;
    padding: 0rem 1.2rem;

    &.hidden {
      overflow: hidden;
      height: 0;
    }

    .links {
      display: flex;
      align-items: center;

      .list {
        display: flex;
        align-items: center;

        .link {
          margin-right: 1.5rem;
          font-size: 0.85rem;

          a {
            color: #202020;
            font-weight: 300;
          }
        }

        .close-icon {
          font-size: 2rem;
          display: flex;
        }
      }
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.2rem;
    position: relative;
    transition: background 0.2s linear 0s;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      height: 80px;
      top: 0px;
      left: 0px;
      width: 100%;
      background: linear-gradient(
        rgba(32, 32, 32, 0.5) 0%,
        rgba(32, 32, 32, 0) 100%
      );
      transition: background 0.2s linear 0s;
    }

    .link,
    .link a,
    .icon-svg {
      color: #fff;
    }

    /* logo style */
    .logo {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #fff;

      a {
        color: #fff;
      }
    }

    /* nav links styles */
    .nav-links {
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .link {
          padding-left: 0.96rem;
          padding-left: 0.96rem;
          font-size: 0.92rem;

          a {
            color: #ffffff;
            font-weight: 300;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    /* navbar icons right styles */
    .action-icons {
      display: flex;
      align-items: center;

      .login-link {
        margin-right: 0.5rem;
      }

      .icon-link {
        font-size: 1.6rem;
        padding: 0 0.5rem;
        color: #202020;
        margin-left: 0.5rem;
        display: flex;
        align-self: center;
        cursor: pointer;

        .icon-svg {
          color: #fff;
          stroke-width: 0%;
          display: flex;
          align-self: center;
        }
      }
    }

    .cart {
      position: relative;
    }
  }
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 9000;
  height: 50px;
  padding: 0rem 1.2rem;
  transition: 0.3s background;

  &.active {
    .logo {
      a {
        color: #202020;
        font-size: 1.4rem;
      }
    }

    .menu-and-search {
      .search-icon,
      .menu-icon {
        color: #202020;
      }
    }

    .cart {
      color: #202020;
    }

    background: #fff;

    &::before {
      background: transparent;
    }
  }

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(
      rgba(32, 32, 32, 0.5) 0%,
      rgba(32, 32, 32, 0) 100%
    );
    transition: background 0.2s linear 0s;
  }

  .logo {
    a {
      color: #fff;
      font-size: 1.4rem;
    }
  }

  .menu-and-search {
    display: flex;

    .search-icon,
    .menu-icon {
      color: #fff;
      font-size: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .action {
    display: flex;
  }
  .cart {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    position: relative;

    .counter-cart {
      left: 10px;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.counter-cart {
  position: absolute;
  left: 30px;
  top: -10px;
  background-color: #e86464;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: 16px;
}
