.my-account {
  margin-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;

    .left {
      .upper-content {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-name {
          font-size: 1.5rem;
        }

        .btn {
          margin-top: 1rem;
          background-color: #202020;
          color: #fff;
          padding: 0.4rem 0.6rem;

          span {
            font-size: 0.7rem;
          }
        }
      }

      .bottom-content {
        background-color: #202020;
        border-radius: 0.5rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;

        .option-links {
          display: flex;
          flex-direction: column;

          .link {
            display: inline-block;
            width: 100%;
            text-align: center;
            color: #fff;
            padding: 1rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .right {
      padding-left: 5rem;
      width: 100%;

      .account-description {
        font-size: 1.2rem;
        font-weight: 300;
      }

      .recent-orders {
        .section-title {
          font-size: 2rem;
          font-weight: 500;
          color: #202020;
        }

        .data-table {
          table {
            width: 100%;
          }

          th {
            text-align: left;
          }

          table,
          tr,
          td {
            border: 1px solid #cccccc;

            .btn {
              background-color: #202020;
              color: #fff;
              padding: 0.4rem 0.8rem;
              margin: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}