.form-input {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    margin: 1rem auto;
    width: 100%;
    padding: 1.3rem;
    border-radius: 0.5rem;

    &::placeholder {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"],
  input[type="tel"] {
    background: #f1f1f1;
  }

  input[type="submit"] {
    background-color: #202020;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
