.login {
  height: 110vh;
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.41) 0%,
      rgba(0, 0, 0, 0.4066001400560224) 100%
    ),
    url("https://media.twistshake.com/2020/03/25095624/DSC8622.jpg?q=70&fit=clip&w=2000&auto=format");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .login-container {
      max-width: 500px;
      width: 40vw;
      margin-top: 4rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: #fff;

      .login-title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    .form {
      width: 70%;
      margin: auto;

      .remember-user {
        display: flex;
        align-items: center;

        label {
          font-weight: 300;
          font-size: 0.9rem;
        }

        input[type="checkbox"] {
          margin-right: 1rem;
        }
      }
    }

    .login-footer {
      margin: 1.5rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 70%;

      .login-footer-link {
        color: #202020;
        margin-top: 1rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;

        span {
          font-weight: 400;
          display: inline-block;
          margin-left: 0.5rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .validationMsg {
    color: rgb(240, 93, 93);
    font-size: 0.7rem;
  }
}
