.selected-customisation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  height: 100vh;
  background-color: #fff;

  &.active {
    transform: translateX(0);
  }

  .slected-area-top {
    height: 90vh;
    overflow-y: scroll;

    .title {
      .title-text {
        padding: 2rem 2rem 0rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        display: flex;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 500;
        color: #202020;
      }
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-around;
      padding-left: 2rem;
      padding-right: 2rem;

      .custom-product-card {
        width: 10rem;

        .product-img {
          height: 10rem;
        }
      }
    }

    .colors {
      padding: 0rem 2rem 0rem;
      color: #202020;

      .title-text {
        font-weight: 500;
        margin: 1.5rem 0 0.8rem;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1;
      }

      .color-values {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        .each-color {
          margin-bottom: 0.5rem;
          margin-right: 1rem;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          overflow: hidden;
          cursor: pointer;
          border: 1px solid #bbbbbb;

          .color {
            width: 26px;
            height: 26px;
            border-radius: 50%;
          }

          &.active {
            border: 1px solid black;
          }

          .inner-container {
            position: relative;
            height: 100%;
            border: 1px solid white;
            border-radius: 50%;
          }
        }
      }
    }

    .product-description {
      padding: 0rem 2rem 0rem;
      margin-bottom: 4rem;
      color: #202020;

      .description-title {
        font-weight: 500;
        margin: 1.5rem 0 0.8rem;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1;
      }

      .description-text {
        font-size: 0.8rem;
        line-height: 1.6rem;
        margin: 0px 0px 1.5rem;
        font-weight: 400;
        letter-spacing: 0px;
      }
    }
  }

  .selected-area-bottom {
    padding: 2rem 2rem 0rem;
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #ececec;
    background-color: #fff;

    .product-name {
      display: flex;
      flex-direction: column;

      .name-text {
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
      }

      .product-type {
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin: 0px;
        font-weight: 400;
        letter-spacing: 0px;
      }
    }

    .btn {
      background-color: #202020;
      color: #fff;
      text-transform: capitalize;
    }
  }
}