* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext";
}

ul,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.product-link {
  color: #000;
  flex-grow: 1;
}

.overlay.active {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 350ms linear 0s;
  z-index: 10001;
}

.Scroll-deactivate {
  overflow: hidden;
}
