/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirNextLTPro-Regular.otf") format("embedded-opentype"),
    url("./fonts/AvenirNextLTPro-Regular.otf") format("woff"),
    url("./fonts/AvenirNextLTPro-It.otf") format("truetype"),
    url("./fonts/AvenirNextLTPro-Bold.otf") format("svg");
}
.body_overlay_active {
  overflow: hidden;
}
