.contact {
  color: #202020;

  .inner-container {
    display: grid;
    grid-template-columns: 25% 75%;

    .left {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      border-right: 1px solid rgb(236, 236, 236);

      .left-title {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          margin-right: 1rem;
        }

        h2 {
          color: #202020;
        }
      }

      .list {
        padding-left: 2rem;

        li {
          margin-top: 1rem;
          color: #202020;
        }
      }
    }

    .right {
      font-weight: 300;
      border-left: 1px solid rgb(236, 236, 236);
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 4rem;

      .para-title {
        font-size: 1.2rem;
        font-weight: 400;
      }

      .address {
        font-size: 0.9rem;
      }

      .form {
        width: 100%;
        padding-top: 1rem;

        h3 {
          font-size: 1.8rem;
          font-weight: 400;
          padding-top: 2rem;
          padding-bottom: 2rem;
        }

        form {
          margin-top: 1rem;

          .common {
            width: 100%;
            margin-bottom: 1rem;

            input,
            textarea {
              background-color: #fff;
              width: 100%;
              border: 1px solid rgb(230, 230, 230);
              height: 2.5rem;
              padding: 1rem;
              font-size: 0.9rem;

              &::-webkit-scrollbar {
                display: none;
              }

              &:focus {
                border: 1px solid #202020;
              }
            }

            textarea {
              height: 3rem;
            }

            select {
              background-color: #fff;
              width: 100%;
              height: 2.5rem;
              border: 1px solid rgb(230, 230, 230);
            }

            label {
              margin-bottom: 0.5rem;
              display: inline-block;
              font-size: 0.9rem;
            }
          }

          .form-submit-btn {
            text-align: right;

            .submit-btn {
              display: inline-block;
              padding: 0.7rem 3rem;
              background-color: #202020;
              border: none;
              border-radius: 0.2rem;
              color: #fff;
              font-size: 1.2rem;
            }
          }
        }
      }

      .form-1 {
        .form-1-title {
          margin-bottom: 2rem;
          margin-top: 3rem;
          font-size: 1.5rem;
          font-weight: 400;
        }

        .sub-title {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }

        form {
          .element-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
          }

          .form-element-group {
            margin-bottom: 1rem;

            input {
              width: 100%;
              height: 2.5rem;
              border: 1px solid rgb(236, 236, 236);
            }

            textarea {
              width: 100%;
              border: 1px solid rgb(236, 236, 236);
            }

            &.msg-container {
              grid-column-start: 1;
              grid-column-end: 4;
              grid-row-start: 4;
              grid-row-end: 5;
            }
          }

          .submit-btn {
            display: flex;
            justify-content: flex-end;

            .submit-btn {
              display: inline-block;
              padding: 0.7rem 3rem;
              background-color: #202020;
              border: none;
              border-radius: 0.2rem;
              color: #fff;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}